*{
    background-color: black;
    padding: 0;
    margin: 0;
}
p{
    background-color: darkslategray;
    color: white;
    font-family: sans-serif;
    font-size: 1vmax;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 15px;
    text-align: center;
    text-decoration: underline;
    text-indent: 50px;
    text-shadow: -1px 1px 2px blue;
    text-transform: uppercase;
}